<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="/static/madlibs.css">
  <title>
    Madlibs
  </title>
</head>
<body>
    <form action="/madlib">
        <p>Pick a character:</p>
        <select name="person-choice">
            <option value="Poppy">Poppy</option>
            <option value="Spot">Spot</option>
            <option value="Bilbo">Bilbo</option>
            <option value="E.M.">E.M.</option>
        </select>
        <p>Pick a color:</p>
        <select name="color-choice">
            <option value="pink">Pink</option>
            <option value="grey">Grey</option>
            <option value="speckled">Speckled</option>
            <option value="argile">argile</option>
        </select>
        <p>Pick a thing:</p>
        <select name="noun-choice">
            <option value="stapler">Stapler</option>
            <option value="highlighter">Highlighter</option>
            <option value="pool-noodle">Pool-noodle</option>
            <option value="banana">Banana</option>
            <option value="skateboard">Skateboard</option>
        </select>
        <p>How has your day been?</p>
        <select name="adjective-choice">
            <option value="exciting">Exciting</option>
            <option value="classic">Classic</option>
            <option value="thrilling">Thrilling</option>
            <option value="educational">Educational</option>
        </select>
        <input type="submit"></input>
    </form>
</body>
</html>