<!doctype html>
<html>
<head>
  <title>
    Madlibs
  </title>
</head>
<body>
    <form action="/madlib">
        <select name="person-choice">
            <option value="Poppy">Poppy</option>
            <option value="Spot">Spot</option>
        </select>

        <select name="color-choice">
            <option value="pink">Pink</option>
            <option value="grey">Grey</option>
        </select>

        <select name="noun-choice">
            <option value="stapler">Stapler</option>
            <option value="highlighter">Highlighter</option>
        </select>

        <select name="adjective-choice">
            <option value="exciting">Exciting</option>
            <option value="classic">Classic</option>
        </select>
        <input type="submit"></input>
    </form>
</body>
</html>